* {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  background-color: #0f0e17;
  width: 16px;
}

*::-webkit-scrollbar-track {
  background-color: #0f0e17;
}

*::-webkit-scrollbar-thumb {
  background-color: #a7a9be;
  border-radius: 16px;
  border: 4px solid #0f0e17;
}

*::-webkit-scrollbar-button {
  display: none;
}

body {
  background: #0f0e17;
  color: #fffffe;
  line-height: 1.6;
  height: 100vh;
  font-family: "Quicksand", sans-serif;
  max-height: 100vh;
}

body h1 {
  font-family: "Arvo", serif;
  text-shadow: 1px 1px 3px black;
}

body p {
  font-family: "Quicksand", sans-serif;
  font-weight: lighter;
  text-shadow: 2px 2px 3px black;
}

body h2 {
  font-family: "Quicksand", sans-serif;
  font-weight: lighter;
  font-size: 12px;
  text-shadow: 2px 2px 3px black;
}

nav {
  position: fixed;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  width: 100%;
  background: rgba(36, 36, 36, 0.808);
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav ul li {
  padding: 1rem;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fffffe;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 1rem;
}

nav ul li a:hover {
  color: #ff8906;
  font-size: 1.1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav ul li a:active {
  color: #ff8906;
  font-size: 0.9rem;
}

menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

menu li {
  margin: 0 1rem;
  padding: 1rem;
}

menu li image {
  background-color: white;
}

.logo {
  display: block;
  width: 50px;
  height: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.logo:hover {
  width: 55px;
  height: 55px;
}

.center {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-y {
  max-height: 95vh;
  overflow: scroll;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container-x {
  max-width: 100vw;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.item-x {
  background-color: #ff8906;
  border: 3px solid black;
  height: 60vh;
  min-width: 60vw;
  margin: 75px 60px 75px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  scroll-snap-align: center;
}

.item {
  background-color: #ff8906;
  border: 3px solid black;
  height: 60vh;
  margin: 60px 60px 0px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  scroll-snap-align: center;
  overflow-x: hidden;
}

.item-blog {
  background-color: #ff8906;
  border: 3px solid black;
  height: 60vh;
  margin: 60px 60px 0px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  scroll-snap-align: center;
  overflow-x: hidden;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.item-blog article {
  padding: 40px;
}

.item-blog .blog-image-container {
  width: 50%;
  height: 100%;
}

.item-blog .blog-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.bottom-item {
  margin: 60px;
}

#about-me {
  width: 100%;
  min-height: 100vh;
}

#home-page {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#home-page h1 {
  font-size: 5rem;
}

#home-page main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

header {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-height: 10vh;
}

#contact-me {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-me {
  min-height: 40vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 600px;
  overflow: hidden;
}

.form {
  position: relative;
  height: 5%;
  width: 100%;
}

.form input {
  width: 100%;
  height: 150%;
  color: #fffffe;
  padding-top: 10px;
  border: none;
  outline: none;
  background-color: #0f0e17;
}

.form label {
  position: absolute;
  top: 0px;
  left: 0%;
  width: 100%;
  height: 50px;
  pointer-events: none;
  border-bottom: 1px solid #fffffe;
}

.form label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #e53170;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0%;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  font-size: 0.9rem;
  color: #e53170;
  opacity: 100%;
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 100%;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button {
  padding: 10px;
  border-radius: 5px;
  color: #fffffe;
  background-color: #ff8906;
  border: 2px solid black;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.button:hover {
  padding: 15px;
}

footer {
  text-align: center;
  max-height: 5vh;
}

@media screen and (max-width: 480px) {
  nav ul li {
    padding: 0.8rem;
  }
  nav ul li a {
    font-size: 0.7rem;
  }
  nav ul li a:hover {
    font-size: 0.8rem;
  }
  nav ul li a:active {
    font-size: 0.6rem;
  }
}
/*# sourceMappingURL=style.css.map */