$background-color: #0f0e17;
$paragraph-color: #a7a9be;
$headline-color: #fffffe;
$secondary-color: #ff8906;
$tertiary-color: #e53170;
$font1: 'Arvo', serif;
$font2: 'Quicksand', sans-serif;

@mixin center {
  justify-content: center;
  align-items: center;
}

// reset default browser alignment
* {
  margin: 0;
  padding: 0;
}

// scrollbar width
*::-webkit-scrollbar {
  background-color: $background-color;
  width: 16px;
}

// background of the scrollbar
*::-webkit-scrollbar-track {
  background-color: $background-color;
}

// scrollbar bar
*::-webkit-scrollbar-thumb {
  background-color: $paragraph-color;
  border-radius: 16px;
  border: 4px solid $background-color;
}

// Top and bottom button
*::-webkit-scrollbar-button {
  display: none;
}

body {
  background: $background-color;
  color: $headline-color;
  line-height: 1.6;
  height: 100vh;
  font-family: $font2;
  max-height: 100vh;

  h1 {
    font-family: $font1;
    text-shadow: 1px 1px 3px black;
  }

  p{
    font-family: $font2;
    font-weight: lighter ;
    text-shadow: 2px 2px 3px black;
  }

  h2{
    font-family: $font2;
    font-weight: lighter ;
    font-size: 12px;
    text-shadow: 2px 2px 3px black;
  }
}

//fixed top nav bar - Designed for Desktop (redisigned for tablet and phone?)
nav {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  height: 60px;
  width: 100%;
  background: rgba(36, 36, 36, 0.808);

  ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    flex-direction: row;

    li {
      padding: 1rem;

      a {
        text-decoration: none;
        text-transform: uppercase;
        color: $headline-color;
        transition: 0.5s;
        font-size: 1rem;
      }

      a:hover {
        color: $secondary-color;
        font-size: 1.1rem;
        transition: 0.2s;
      }

      a:active {
        color: $secondary-color;
        font-size: 0.9rem;
      }
    }
  }
}

// used for links to social media on index.html
menu {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
  flex-direction: row;

  li {
    margin: 0 1rem;
    padding: 1rem;
    image{
      background-color: white;
    }
  }
}

.logo{
  display: block;
  width: 50px;
  height: 50px;
  transition: 0.5s;
}

.logo:hover{
  width: 55px;
  height: 55px;
}

// Center align class
.center {
  text-align: center;
  @include center;
}

// allows scroll snap on the y axis (everything inside of the container as long as it has an item class can snap
.container-y {
  max-height: 95vh;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

// as above allows scroll snap on the y axis (mainly for mobile support)
.container-x {
  max-width: 100vw;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  display: flex;
  flex-direction: row;
}

//item class for the x axis scrolling
.item-x {
  background-color: $secondary-color;
  border: 3px solid black;
  height: 60vh;
  min-width: 60vw;
  margin: 75px 60px 75px 60px;
  display: flex;
  @include center;
  flex-direction: column;
  scroll-snap-align: center;
}

.item {
  background-color: $secondary-color;
  border: 3px solid black;
  height: 60vh;
  margin: 60px 60px 0px 60px;
  display: flex;
  @include center;
  flex-direction: column;
  scroll-snap-align: center;
  overflow-x: hidden;
}

.item-blog {
  background-color: $secondary-color;
  border: 3px solid black;
  height: 60vh;
  margin: 60px 60px 0px 60px;
  display: flex;
  @include center;
  flex-direction: row;
  scroll-snap-align: center;
  overflow-x: hidden;
  justify-content: space-around;

  article{
    padding: 40px;
  }

  .blog-image-container{
    width: 50%;
    height: 100%


  }
  .blog-image{
    object-fit: cover;
    width: 100%;
    height: 100%
  }


}

// tweaked margin on last item in y axis scrolling
.bottom-item {
  margin: 60px;
}

#about-me {
  width: 100%;
  min-height: 100vh;
}

#home-page {
  width: 100%;
  height: 100vh;
  display: flex;
  @include center;
  flex-direction: column;

  h1 {
    font-size: 5rem;
  }

  main {
    display: flex;
    @include center;
    flex-grow: 1;
  }
}


header{
  margin-top: 80px;
  display: flex;
  @include center;
  flex-grow: 1;
  max-height: 10vh;
}

#contact-me {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

//used for the form inside of the id contact-me (BAD NAMING)
.contact-me {
  min-height: 40vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

// Creates spacing and hiding of important elements (hiding of animation)
form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 600px;
  overflow: hidden;
}

// Animation used in clicking on elements inside of form
.form {
  position: relative;
  height: 5%;
  width: 100%;

  input {
    width: 100%;
    height: 150%;
    color: $headline-color;
    padding-top: 10px;
    border: none;
    outline: none;
    background-color: $background-color;
  }

  label {
    position: absolute;
    top: 0px;
    left: 0%;
    width: 100%;
    height: 50px;
    pointer-events: none;
    border-bottom: 1px solid $headline-color;
  }

  label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid $tertiary-color;
    transform: translateX(-150%);
    transition: all 0.3s ease;
    opacity: 0%;
  }

  input:focus+.label-name .content-name,
  input:valid+.label-name .content-name {
    transform: translateY(-100%);
    font-size: 0.9rem;
    color: $tertiary-color;
    opacity: 100%;
  }

  input:focus+.label-name::after,
  input:valid+.label-name::after {
    transform: translateX(0%);
    opacity: 100%;
  }
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.button {
  padding: 10px;
  border-radius: 5px;
  color: $headline-color;
  background-color: $secondary-color;
  border: 2px solid black;
  cursor: pointer;
  transition: 0.4s;
}

.button:hover {
  padding: 15px;
}

footer {
  text-align: center;
  max-height: 5vh;
}

//mobile phone screens
@media screen and (max-width: 480px) {
  nav {
    ul {
      li {
        padding: 0.8rem;

        a {
          font-size: 0.7rem;
        }

        a:hover {
          font-size: 0.8rem;
        }

        a:active {
          font-size: 0.6rem;
        }
      }
    }
  }
}